# gitignore

# auto saves from emacs and the likes
*~
*#

# athena files
*asetup.save
*eventLoopHeartBeat.txt
*PoolFileCatalog.xml*
*PoolFileCatalog.xml
*.root


# Analysis specific stuff
#.yoda
*.hepmc
*.log
#*.dat
*.png
*.pdf
#*.html

# Analysis tools in folder
TTbarDiLep.cc
codecounter.cc
codecounter.sh
compileHook.sh
doRivet.sh
runPythia.sh

# sub-directories ("**" doesn't work on old version of git run on PPE system!)
**/rivet-plots/
rivet-plots/
#/ValidationPlots
*/rivet-plots*


# specific subdirs
/validation_plots
ATLAS_2017_I1604029/rivet-plots10000/
RivetsFromRivet/ATLAS_2017_I1614149/validation_plots/ATLAS_2017_I1614149/*
RivetsFromRivet/ATLAS_2017_I1604029/validation_plots/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
codecounter
